.recognized {
  border-radius: 5px;
  border: 2px solid grey;
  padding: 5px;
}

/* Keep div height even without text */
/* https://stackoverflow.com/a/41503905 */
.recognized:after {
  content: '\200b';
}

.recognized-success {
  color: green;
}

.recognized-error {
  color: red;
}

.recognized-pending {
  color: #6F7E8C;
}
